/** { border: 1px dashed red;}*/

body {
  /*display: flex;
  flex-flow: row;
  justify-content: center;*/
  height: 100%;
}

header {
  margin-top: 0px;
  height: 130px;
  position: fixed;
  z-index: 10;
}

header h1 {
  margin: -14px;
  font-size: 5em;
  letter-spacing: 5px;
  font-weight: 400;
}

main {
  left: 12%;
  /*overflow: scroll;*/
  width: 68.8%;
  /*display: flex;*/
  z-index: 4;
}

nav, aside, main {
  position: absolute;
  top: 130px;
  bottom: 42px;
}

nav {
  width: 12%;
  min-width: 132px;
}
/*
#content {
  width: 100%;
}*/


#controls {
  position: absolute;
  bottom: 0;
  height: 5%;
  left: 0%;
  width: 100%;
}

#info {
  width: 300px;
}

aside {

  width: 19%;

  left: 81%;

  z-index: 10;
}

main div {
  /*margin-right: .5%;*/
  width: 100%;
}

main section {
  margin: 0;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}


footer {
  position: fixed;
  bottom: 0px;
  height: 42px;
}

ul {
  padding: 0;
}

/*#slideshow img {
  position:absolute;
top:50%;
min-height:100%;
display:block;
left:50%;
-webkit-transform: translate(-50%, -50%);
min-width:100%;
}*/

img {
  width: 38%;
  height: 38%;
}

.content-width {
  width: 100%;
}

.center-content {
  text-align: center;
}

.about-content {
  margin-top: 20px;
}

.about-content p {
  padding: 10px 20px;
}


#about, .icon-menu, #contact {
  display: none;
}
