/** { border: 1px dashed red;}*/

body {
  /*display: flex;
  flex-flow: row;
  justify-content: center;*/
  height: 100%;
}

header {
  margin-top: 0px;
  height: 130px;
  position: fixed;
  z-index: 10;
}

header h1 {
  margin: -14px;
  font-size: 5em;
  letter-spacing: 5px;
  font-weight: 400;
}

main {
  left: 12%;
  overflow: scroll;
  width: 68.8%;
  /*display: flex;*/
  z-index: 4;
}

nav, aside, main {
  position: absolute;
  top: 130px;
  bottom: 42px;
}

nav {
  width: 12%;
  min-width: 132px;
}

#content {
  width: 100%;
}

#controls {
  position: absolute;
  bottom: 0;
  height: 20px;
  left: 0%;
}

aside {
  margin-left: 1%;
  width: 19%;
  /*height: 400px;*/
  left: 80%;
  /*bottom: 40px;*/
}

main div {
  /*margin-right: .5%;*/
  width: 100%;
}

main div section {
  margin: 0;
  height: auto;
  width: 98%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}


footer {
  position: fixed;
  bottom: 0px;
  height: 42px;
}

ul {
  padding: 0;
}

figure {
  /*width: 320px;
  height: 350px;*/
}

img {
  width: 38%;
  height: 38%;
}

.content-width {
  width: 100%;
}

.center-content {
  text-align: center;
}

.about-content {
  margin-top: 20px;
}

.about-content p {
  padding: 10px 20px;
}


#bio, #past-work, .icon-menu, #contact {
  display: none;
}
