/** { border: 1px dashed red;}*/



body {
  /*display: flex;
  flex-flow: row;
  justify-content: center;*/
}

main {
  margin-top: 8px;
}
main div {
  margin-right: .5%;
  width: 79%;
  float: left;

}
main div section {
  margin: 1% 8px;
  height: 100px;
  width: 98%;
}
aside {
  margin-left: 1%;
  float: right;
  width: 19%;
  height: 400px;
}

header {
  margin-top: 0px;
  height: 120px;
}

footer {
  clear: both;
}

ul {
  padding: 0;
}


.content-width {
  width: 100%;
}

.center-content {
  text-align: center;
}

.about-content {
  margin-top: 20px;
}

.about-content p {
  padding: 10px 20px;
}


#bio, #past-work, .icon-menu, #show-filter {
  display: none;
}
