@import url(https://fonts.googleapis.com/css?family=Bad+Script);
@import url("state.css");

body {
  font-family: 'Bad Script', cursive;
  height: 1200px;
  overflow: hidden;
  background-color:  #FFF;
  margin: 0;
  padding: 0;
  background-image: url(https://s3-us-west-2.amazonaws.com/rossellestudios/2016-Biomorphic_Bowls_and_Vases-Yellow_and_Medium_Green_Bowl_Large_Detail-Ceramics-Rosselle.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

header, footer, nav, aside, #controls {
  background-color: black;
  opacity: 0.8;
  color: white;
}

header {
  margin-top: 0px;
  height: 130px;
  position: fixed;
  z-index: 10;
}

main section {
  background-color: #fff;
}

header h1 {
  margin: -14px;
  font-size: 5em;
  letter-spacing: 5px;
  font-weight: 400;
}

main {
  left: 12%;
  width: 69%;
}

nav, aside, main {
  position: absolute;
  top: 130px;
  bottom: 42px;
}

nav {
  width: 12%;
  min-width: 132px;
}

#controls {
  position: absolute;
  bottom: 0;
  height: 5%;
  left: 0%;
  width: 100%;
}

#info {
  width: 450px;
}

aside {
  width: 19%;
  left: 81%;
}

main div {
  width: 100%;
}

main section {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  object-fit: contain;
}

footer {
  position: fixed;
  bottom: 0px;
  height: 42px;
}

#artwork {
  background-color: #333;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#artwork img {
  max-height: 40%;
  max-width: 60%;
  height: auto;
}

#about {
  overflow: scroll;
}

#about p {
  margin: 4% 15px;
}

.content-width {
  width: 100%;
}

select {
  height: 1.7em;
}

nav ul {
  padding: 0;
  list-style: none
}

.nav-item {
  background-color: black;
  padding: 0 3%;
  border: 1px solid black;
  height: 40px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

.center-content {
  text-align: center;
}

#about, .icon-menu, #show-filter, #contact {
  display: none;
}
