@media only screen and (max-width: 750px) {

  aside section {
    display: none;
  }

  header {
    height: 90px;
  }

  header h1 {
    font-size: 3em;
    letter-spacing: normal;
    margin-top: -5px;
  }

  nav, aside, main {
    position: absolute;
    top: 90px;
    bottom: 42px;
  }
