/*@media only screen and (min-width: 625px) {
  nav ul {
    display: block !important;
  }
}

@media only screen and (max-width: 625px) {
  header {
    margin-top: .5%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .content-width {
    width: 94%;
  }

  .icon-menu {
    display: inline;
    font-size: 2em;
  }
  .main-nav {
    width: 60%;
  }
  .nav-item {
    display: list-item;
    list-style-type: none;
    width: 94%;
    border-radius: 0px;
    border-bottom: none;
    padding: 2%;
  }

  .nav-item:last-of-type {
    border-bottom: 1px solid black;
  }

  select {
    height: 2em;
    font-size: 1.1em;
  }

  .project-item {
    width: 85%;
  }

  .main-nav ul {
    display: none;
  }

  /*.main-nav:hover ul {
    display: block;
  }*/
}*/
