

@media only screen and (max-width: 700px) {

  aside {
    display: none;
  }

  header {
    height: 90px;
  }

  header h1 {
    font-size: 3em;
    letter-spacing: normal;
    margin-top: -5px;
  }

  nav, aside, main {
    position: absolute;
    top: 90px;
    bottom: 42px;
  }
  /*header {
    margin-top: .5%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .content-width {
    width: 94%;
  }

  .icon-menu {
    display: inline;
    font-size: 2em;
  }
  .main-nav {
    width: 60%;
  }
  .nav-item {
    display: list-item;
    list-style-type: none;
    width: 94%;
    border-radius: 0px;
    border-bottom: none;
    padding: 2%;
  }

  .nav-item:last-of-type {
    border-bottom: 1px solid black;
  }

  select {
    height: 2em;
    font-size: 1.1em;
  }

  .project-item {
    width: 85%;
  }

  .main-nav ul {
    display: none;
  }

  /*.main-nav:hover ul {
    display: block;
  }*/
}*/
