@media only screen and (max-width: 1300px) {
  /*aside  {
    display: none;
  }*/


/*}
@media screen and (max-width: 750px) and (min-width: 1099px;) {*/
  body {
    overflow: hidden;
  }
  header {
    height: 90px;
  }

  header h1 {
    font-size: 3em;
    letter-spacing: normal;
    margin-top: -5px;
  }

  main {
    left: 0px;
    width: 100%;
    position: absolute;
    top: 150px;
    bottom: 30px;
  }

  aside  {
    display: none;
  }

  nav {
    position: absolute;
    width: 100%;
    top: 90px;
    height: 60px;

  }

  nav ul {
    position: absolute;
    top:0;
    left: 100px;
    margin: 0;
  }

  nav ul li {
    height: 18px;
    padding: 0;
    float: left;
    width: 50%;
    margin-bottom: 10px;
  }

  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 700;
  }

  .nav-item {

  }

  footer {
    height: 30px;
  }

  #social-icons {
    position: absolute;
    top: 0px;
    left: 10px;
  }

  #show-filter {
    display: none;
  }

  #info {
    /*position: relative;*/
    width: 100%;
    min-width: 30%;
  }
}
